// COLORS
$color-primary: #e51945;
$color-primary-dark: #cc3354;
$color-primary-light: #ff3758;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey: #777;
$color-grey-2: #999;
$color-grey-dark: #333;

$color-white: #f8f4f5;
$color-black: #000;
$color-dark: #141414;

$color-background: #1e1e1f;

// FONT
$default-font-size: 1.6rem;