@import "../../sass/variables";
@import "../../sass/mixins";

.creations__item {
    position: relative;
    overflow: hidden;
    margin: .3rem;
    height: 40rem;
    background-color: $color-dark;

    max-width: 49%;
    flex: 1 1 auto;

    @include respond(tab-port) {
        max-width: 100%;
        flex: 1 1 49%;
        &:last-child {
            max-width: 49%;
        }
    }

    @include respond(phone) {
        flex: 1 1 100%;
        &:last-child {
            max-width: none;
        }
    }

    transition: all .5s ease-out;

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;

        transition: all .5s ease-out;
        filter: brightness(90%);
        background-color: $color-dark;
    }

    &__text {
        font-size: $default-font-size;
        text-transform: uppercase;
        letter-spacing: .3rem;
        color: $color-white;
        backface-visibility: hidden;

        width: 100%;
        height: 30%;
        background-color: rgba($color-background, .4);
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
    }

    &:hover &__image {
        transform: scale(1.1);
        filter: brightness(110%);
    }

    &:hover &__text {
        bottom: 0;
        height: 20%;
        width: 110%;
        transform: translate(-50%, 0);
        background-color: rgba($color-background, 1);
    }

}