@import "../../sass/variables";
@import "../../sass/mixins";

.creations__item {
    position: relative;
    overflow: hidden;
    margin: .3rem;
    height: 40rem;
    background-color: $color-dark;

    flex: 1 1 30%;
    transition: all .5s ease-out;
    &:last-child {
        max-width: 49.5%;
    }
    @include respond(tab-port) {
        max-width: 100%;
        flex: 1 1 49%;
    }

    @include respond(phone) {
        flex: 1 1 100%;
        &:last-child {
            max-width: none;
        }
    }

    &-discover {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: .2rem;
        font-weight: 500;
        background-color: rgba($color-dark, .0);
        padding: .7rem;
        border-bottom-left-radius: .7rem;
        color: $color-white;
        transition: all .5s ease;
        transform: translateX(100%);

        @include respond(phone) {
            background-color: rgba($color-dark, .3);
            transform: translateX(0);
            color: rgba($color-white, .9);
        }
    }

    &:hover &-discover{
        background-color: rgba($color-dark, .4);
        transform: translateX(0);
    }

    &:hover &-discover:before {
        content: "";
        margin: 0;
    }

    &-image {
        object-fit: cover;
        width: 100%;
        height: 100%;

        transition: all .5s ease-out;
        filter: brightness(90%);
        background-color: $color-dark;
    }

    &-text {
        font-size: $default-font-size;
        text-transform: uppercase;
        letter-spacing: .3rem;
        color: $color-white;
        backface-visibility: hidden;
        text-align: center;

        width: 101%;
        padding: 4rem 0;
        background-color: rgba($color-background, .4);
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
    }

    &:hover &-image {
        transform: scale(1.1);
        filter: brightness(110%);
    }

    &:hover &-text {
        bottom: 0;
        padding: 2rem 0;
        width: 101%;
        transform: translate(-50%, 0);
        background-color: rgba($color-background, 1);
    }

}