@import '../../sass/variables';
@import '../../sass/mixins';

.section-contact {
    min-height: 100%;

    &__content {
        padding: 3rem 0;
        max-width: 120rem;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact-details {
    margin-left: 2rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: #ccc;
    font-size: 2rem;

    @include respond(phone) {
        font-size: 1.8rem;
    }

    a,
    a:link,
    a:visited {
        color: $color-white;
        text-decoration: none;
        transition: all .2s ease;
    }

    a:hover {
        text-decoration: underline;
    }

    &__row {
        line-height: 2;
    }
}

.contact-location {
    height: 100%;
    width: 100%;

    &__map {
        animation: appear 1s ease-in-out;
        position: relative;
        height: 42rem;
        width: 100%;
        overflow: hidden;
    }

    &__title {
        color: rgb(196, 196, 196);
        font-weight: 400;
        letter-spacing: .1rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem 0;

        @include respond(phone) {
            font-size: 1.6rem;
        }
    }
}