@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/animations';

.home {
    position: relative;
    width: 100%;
    height: 100%;

    &__media {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;

        top: 1rem;
        right: 1rem;
        background-color: $color-background;
        z-index: 10;

        border-radius: 3rem;

        @include respond(tab-port) {
            width: 12rem;
            top: 1rem;
            right: 1rem;
        }
    }

    &__item {
        width: 6rem;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        color: $color-white;
        font-size: 3rem;

        @include respond(tab-port) {
            font-size: 3.5rem;
        }
    }
}

.slider {
    &-wraper {
        position: relative;
        height: 80vh;
        overflow: hidden;

        pointer-events: none;
    }

    &-content {
        text-align: center;

        &__text {
            display: block;
            box-sizing: border-box;
            position: absolute;
            bottom: 20%;
            right: 20%;
            transform: translate(30%, 30%);

            @include respond(tab-land) {
                right: 25%;
            }

            @include respond(tab-port) {
                width: 100%;
                bottom: 30%;
                right: 0;
                transform: translate(0, 50%)
            }

            &__title {
                padding: 1rem;
                font-weight: 300;
                letter-spacing: .5rem;
                color: $color-white;
                font-size: $title-font-size;
                text-transform: uppercase;
                background-color: rgba($color-black, .5);
                border-radius: 1rem;

                @include respond (tab-port) {
                    border-radius: 0;
                    font-size: 2rem;
                    background-color: rgba($color-dark, .7);
                }
            }
        }
    }
}

.previousButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 500;
    border-right: .2rem solid rgba($color-white, .9);
    border-top: .2rem solid rgba($color-white, .9);
    border-radius: 2px;
    width: 4rem;
    height: 4rem;
    text-indent: -9999px;
    cursor: pointer;
    pointer-events: all;
}

.previousButton {
    left: 3rem;
    transform: translateY(-50%) rotate(225deg);
    animation: navArrowAnimationLeft 2s infinite;
}

.nextButton {
    right: 3rem;
    animation: navArrowAnimationRight 2s infinite;
}

.slide {
    background-size: cover !important;
    -webkit-box-shadow: inset 0 1.5rem 1.5rem -.5rem rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 1.5rem 1.5rem -.5rem rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1.2rem 1.5rem -.5rem rgba(0, 0, 0, 0.4);
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 0%, transparent 60%, rgba(rgb(16, 16, 16), 1) 95%);
    bottom: 0;
    left: 0;
}