@import '../../../../sass/variables';
@import '../../../../sass/mixins';
@import '../../../../sass/animations';

.navigation-item {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    transition: all .5s ease-out;
    list-style: none;

    white-space: nowrap;

    @include respond(tab-port) {
        padding: .5rem 0;
        font-size: $default-font-size;
    }

    &__link,
    &__link:link,
    &__link:visited {
        height: 100%;
        width: 100%;
        color: $color-white;
        text-decoration: none;
        transition: all .2s ease;

        display: flex;
        align-items: center;

        @include respond(tab-land) {
            width: 100%;
            padding-bottom: 4%;
        }
    }

    &:hover &__link {
        cursor: pointer;
    }

    &--active {
        font-weight: 700;
    }
}