@import '../../../../sass/variables';
@import '../../../../sass/mixins';
@import '../../../../sass/animations';

.navigation-item {
    color: $color-white;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    transition: all .5s ease-out;
    list-style: none;
    margin: 0 auto;

    white-space: nowrap;

    @include respond(tab-port) {
        padding: 0;
        width: 100%;
        height: auto;
    }

    &__link,
    &__link:link,
    &__link:visited {
        height: 100%;
        width: 100%;
        color: inherit;
        text-decoration: none;
        transition: all .2s ease;

        display: flex;
        align-items: center;

        @include respond(tab-port) {
            width: 100%;
            display: inline-block;
            text-align: start;
        }
    }

    &__link--icon {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        color: $color-white;
        text-decoration: none;
        margin-right: 1rem;

        transform: translateY(-.3rem);
    }

    &:hover &__link {
        cursor: pointer;
    }

    &--active {
        font-weight: 700;
    }
}