@import "../../sass/variables";
@import "../../sass/mixins";

.project {
    &-title {
        text-align: center;
        font-size: $title-font-size;
        letter-spacing: .6rem;
        font-weight: 300;
        color: $color-white;
        width: 100%;
        background-color: $color-dark;
        padding: 1rem 0;
        margin: .3rem 0;
        text-transform: uppercase;
        position: relative;

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }
}

.return {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translate(-.5rem, -50%);
    background-color: $color-white;
    font-size: 2rem;
    padding: .8rem 1.2rem .8rem 1.7rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
    transition: transform .2s ease;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: translate(0, -50%);
    }
}

.gallery {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-content: center;

    &__thumbnail {
        position: relative;
        overflow: hidden;
        margin: .3rem;

        max-height: 32rem;
        flex: 1 1 auto;

        transition: all 1s;

        &:last-child {
            max-width: 49%;

            @include respond(tab-port) {
                flex: 1 1 100%;
                max-width: 100%;
            }
        }

        &-curtain {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 100%;
            height: 100%;
            transition: all .5s;

            &::before {
                content: "";
                color: white;
                font-size: $default-font-size;
                font-weight: 300;
                letter-spacing: .5rem;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                transition: all .5s;
            }

            &:hover {
                background-color: rgba($color-background, .7);
            }

            &--pl {
                &:hover::before {
                    content: "PEŁNY EKRAN";
                }
            }

            &--en {
                &:hover::before {
                    content: "FULL SCREEN";
                }
            }
        }

        &-image {
            object-fit: cover; //cover / fill
            width: 100%;
            height: 100%;
            filter: brightness(100%);
            transition: all .5s ease-out;
        }

        &:hover &-image {
            filter: brightness(110%);
            transform: scale(1.1);
        }

        &:hover {
            cursor: pointer;
        }
    }
}