@import "../../sass/variables";
@import "../../sass/mixins";

.section-realisations {
    &__title {
        text-align: center;
        font-size: 3rem;
        letter-spacing: .6rem;
        font-weight: 300;
        color: $color-white;
        margin: 4rem;
        text-transform: uppercase;
    }
}

.realisations {
    width: 90%;
    max-width: 120rem;
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-content: center;
}