@import '../../../sass/mixins';
@import '../../../sass/variables';

.navigation-items {
    display: flex;
    flex-flow: row;

    height: 100%;
    font-weight: 300;
    font-size: $small-font-size;
    text-transform: uppercase;

    @include respond(tab-port) {
        padding: 4rem 8rem;
        margin: 0 auto;
        font-size: 1.8rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    @include respond(phone) {
        padding: 4rem;
    }
}

.navigation-dropdown {
    position: relative;
    color: $color-white;
    font-size: $small-font-size;
    list-style: none;
    padding: 0 1rem;
    margin: auto 0;
    height: 5rem;
    display: flex;
    align-items: center;

    cursor: pointer;

    @include respond(tab-port) {
        display: none;
    }

    &:hover &__content {
        display: block;
    }

    &__content {
        padding: .2rem 1rem .4rem;
        display: none;
        background-color: rgba($color-black, 1);
        position: absolute;
        line-height: 1.8;
        left: 0;
        bottom: -4rem;
        z-index: 1;
        border-radius: .3rem;

        @include respond(tab-land) {
            bottom: -5rem;
            padding: .5rem 1rem 0;
        }
    }
}

.navigation-icon {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: $color-white;
    text-decoration: none;
    margin-right: 1rem;

    &__text {
        font-size: 2rem;
    }
}

.mobile-only {
    display: none;
    
    @include respond(tab-port) {
        display: block;
    }
}