@import '../../../sass/mixins';
@import '../../../sass/variables';

.navigation-list {
    display: flex;
    flex-flow: row;

    height: 100%;
    font-weight: 300;

    font-size: $small-font-size;
    text-transform: uppercase;

    @include respond(tab-port) {
        padding: 4rem 8rem;
        margin: 0 auto;
        font-size: 2rem;

        display: grid;
        grid-template-columns: repeat(2, min-content);
        grid-auto-flow: dense;
        justify-content: space-evenly;
        align-items: center;
        grid-column-gap: 4rem;
    }

    @include respond(phone) {
        padding: 4rem;
    }
}

.mobile-only {
    display: none;

    @include respond(tab-port) {
        display: block;
    }
}