@import "../../sass/variables";
@import "../../sass/mixins";

.creations {
    max-width: 120rem;
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    @include respond(tab-port) {
        margin: 4rem .3rem;
    }
}

.no-creations {
    color: rgb(170, 170, 170);
    margin: 6rem 0;
    text-align: center;
    font-size: $title-font-size;
}

.photos-signature {
    max-width: 120rem;
    margin: 0 auto 4rem;
    text-align: end;
    color: rgb(119, 119, 119);
    letter-spacing: .1rem;
    font-size: 1.1rem;

    a,
    a:link,
    a:visited {
        color: rgb(155, 155, 156);
        text-decoration: none;
        transition: color .2s ease;

        &:hover {
            color: $color-white;
        }
    }
}