@import "../../sass/variables";
@import "../../sass/mixins";

.section-creations {
    &__title {
        text-align: center;
        font-size: 3rem;
        letter-spacing: .6rem;
        font-weight: 300;
        width: 100%;
        background-color: $color-dark;
        color: $color-white;
        margin: 1rem 0;
        padding: 2rem;
        text-transform: uppercase;
    }
}

.creations {
    max-width: 120rem;
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    @include respond(tab-port){
        margin: 4rem .3rem;
    }
}

.no-creations {
    color: rgb(170, 170, 170);
    margin: 6rem 0;
    text-align: center;
    font-size: 3rem;
}